flask==3.0.2
werkzeug==3.0.1
sqlalchemy==2.0.25
python-dotenv==1.0.1
pandas==2.2.0
mysqlclient==2.2.1
gunicorn==21.2.0
pytest==8.0.2
pytest-cov==4.1.0
tqdm==4.66.2
pymysql==1.1.1
flask_sqlalchemy==3.1.1
cffi==1.17.1
cryptography==44.0.2
pycparser==2.22